In [3]:
import pandas as pd
import cpi
import nasdaqdatalink
import datetime as dt

In [4]:
inflation_rate = []
cpi_values = []
datetime_values = []


years = 22
#subtract by years + 1 because we need annual inflation by grabbing the year before's values
start_year = dt.date.today().year - (years+1)
reset_months = 1
months =  ( (years + 1) * 12) + (dt.date.today().month-1)

for i in range(months):
    
    if reset_months > 12: 
        reset_months = 1
        start_year +=1
        
    datetime_values.append(dt.date(start_year, reset_months, 1))
    
    cpi_data = cpi.get(dt.date(start_year, reset_months, 1))
    cpi_values.append(cpi_data)
     
    reset_months += 1
    
    if i >= 12:
        inflation = (cpi_values[i] - cpi_values[i-12]) / cpi_values[i-12]
        inflation_rate.append(inflation)

datetime_values = datetime_values[12:]
  
inflation_df = pd.DataFrame(data = {"Inflation Rate": inflation_rate}, index = datetime_values)  
inflation_df["Inflation Percent Change"] = inflation_df["Inflation Rate"].pct_change()
inflation_df

            Inflation Rate  Inflation Percent Change
2000-01-01        0.027389                       NaN
2000-02-01        0.032219                  0.176346
2000-03-01        0.037576                  0.166266
2000-04-01        0.030686                 -0.183359
2000-05-01        0.031889                  0.039216
...                    ...                       ...
2021-09-01        0.053903                  0.026484
2021-10-01        0.062219                  0.154261
2021-11-01        0.068090                  0.094366
2021-12-01        0.070364                  0.033397
2022-01-01        0.074799                  0.063025

[265 rows x 2 columns]

In [ ]:
#put in a seperate cell to avoid reaching api call limits
usa_gdp = nasdaqdatalink.get("FRED/GDP")
usa_gdp = usa_gdp/1000

In [5]:
start_year = dt.date.today().year - 22

usa_gdp = usa_gdp.reset_index()


for i in range(len(usa_gdp)):
    entry_year = usa_gdp.iloc[i,0].date().year
    if entry_year == start_year:
        usa_gdp = usa_gdp[i:]
        break

usa_gdp = usa_gdp.set_index("Date")
usa_gdp.rename(columns = {"Value": "USA GDP in Trillions"}, inplace = True)
usa_gdp["GDP Percent Change"] = usa_gdp["USA GDP in Trillions"]

usa_gdp

DataLinkError: (Status 429) Something went wrong. Please try again. If you continue to have problems, please contact us at connect@data.nasdaq.com.

In [8]:
combined_df = pd.concat(inflation_df, usa_gdp)

          Date      Value
212 2000-01-01  10.002179
213 2000-04-01  10.247720
214 2000-07-01  10.318165
215 2000-10-01  10.435744
216 2001-01-01  10.470231
..         ...        ...
295 2020-10-01  21.477597
296 2021-01-01  22.038226
297 2021-04-01  22.740959
298 2021-07-01  23.202344
299 2021-10-01  23.992355

[88 rows x 2 columns]